.env.local
.env.*.local

/app/vendor/
/app/var/
!/app/var/.gitkeep

/nlp/.venv/
/nlp/__pycache__/
/nlp/.pytest_cache/
*.pyc

/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.idea/
.vscode/*
!.vscode/
!.vscode/launch.json
.DS_Store
